.contact-form-container {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    border-top: 1px solid darkgrey;
    padding-top: 36px;
}

.contact-title {
    margin-bottom: 24px;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.form-element {
    border-radius: 5px;
    border: 1px solid darkgrey;
    margin-bottom: 24px;
    padding-left: 12px;
    font-size: 24px;
}

#mail {
    width: 24%;
    height: 48px;
}

#name {
    width: 24%;
    height: 48px;
}

#msg {
    height: 72px;
    width: 72%;
}

#button {
    background: darkgrey;
    width: 10%;
    border: 0;
    border-radius: 5px;
    color: #212529;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    font-size: 1rem;
}

#button:hover {
    background: white;
    color: #212529;
}