.introduction {
    margin: 0 auto;
    border-top: 1px solid darkgrey;
    max-width: 850px;
    width: 100%;
    padding-top: 40px;
    font-weight: 500;
    font-size: 1.1rem;
}

.reach-out {
    margin-top: 40px;
    max-width: 850px;
    padding: 0 15px;
    padding-left: 15%;
}

.hello {
    margin-bottom: 40px;
    padding-left: 15%;
}

.contact-sm {
    width: 100%;
    border-bottom: 1px solid darkgrey;
}

@media(max-width:500px) {
    .introduction {
        text-align: center;
    }
    .reach-out {
        max-width: 280px;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
        margin-top: 40px;
    }
    .hello {
        max-width: 280px;
        padding-left: 0;
        margin: 0 auto;
        margin-bottom: 40px;
    }
}