.education-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 850px;
}

.education-item {
    max-width: 850px;
    border-top: 1px solid darkgrey;
    width: 100%;
    padding-left: 15%;
    padding-top: 24px;
}

.mern {
    font-size: 0.9rem;
}

.education-item-title {
    margin-bottom: 0px;
}

.education-item-subtitle {
    margin-bottom: 24px;
}

.education-item-description {
    line-height: 24px;
    margin-bottom: 24px;
}

.education-item-list {
    margin-bottom: 0px;
}

.education-item-list-item {
    margin-bottom: 0px;
    line-height: 24px;
}