.resume-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 850px;
}

.resume-item {
    max-width: 850px;
    border-top: 1px solid #2980b9;
    width: 100%;
    padding-left: 15%;
    padding-top: 36px;
    margin-top: 36px;
}

.resume-item:first-child {
    margin-top: 0;
}

.resume-item:nth-child(2) {
    border-top: 1px solid #69a6ce;
}

.resume-item-title {
    line-height: 24px;
    margin-bottom: 0px;
}

.resume-item-subtitle {
    font-size: 1rem;
    margin-bottom: 23px;
}

.resume-item-list {
    margin-bottom: 0px;
}

.resume-item-list-item {
    line-height: 24px;
    margin-bottom: 0;
}