body {
  margin: 0;
  padding: 0;
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 400;
  background: #212529;
  color: white;
  font-size: 24px;
  width: calc(100vw - 34px);
}

.app {
  display: flex;
  flex-direction: column;
  align-content: center;
}