::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(200, 200, 200, 1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 6px rgba(90, 90, 90, 0.7);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'proxima-nova', sans-serif;
  font-style: normal;
  font-weight: 400;
  background: #212529;
  color: white;
  font-size: 24px;
  width: calc(100vw - 34px);
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
  align-content: center;
}
